@font-face {
  font-family: 'Dock51';
  src: url('./Assets/fonts/dock51-webfont.woff2') format('woff2'),
       url('./Assets/fonts/dock51-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StarJedi';
  src: url('./Assets/fonts/starjedi.woff2') format('woff2'),
       url('./Assets/fonts/starjedi.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

canvas#game, canvas#debug {
  position: absolute;
  min-width: 320px;
  max-width: 100%;
  min-height: 240px;
  max-height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

html, body {
  background: rgb(104, 99, 99);
  min-height: 100%;
}

#game {
  border: 1px Black solid;
  border-radius: 6px;
  display: block;
  background: #fff;
}

#debug {
  display: block;
  border: 1px rgb(151, 41, 41) dotted
}



